@{
    Layout = null;
}
@{
    int articleId = ViewBag.Article.Id;
}

<form>              
    <input id="comment_user" name="name" style="width: 200px;margin-top:10px;"/>
    <input id="comment_articleId" name="id" hidden="hidden"  value="@articleId" />
    <div>             
        <textarea id="comment_content" rows="5" name="comment" style="height: 100px;width: 700px;margin:10px;"></textarea>
    </div>
    <button type="button" id="add_comment">Add</button>       
</form>

