@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "Article";
}


@section Header
{
    <link rel="stylesheet" href="~/Styles/StyleSheetArticle.css" type="text/css"/>
     <link rel="stylesheet" href="~/Styles/StyleSheetAddComment.css" type="text/css"/>

    @Scripts.Render("~/bundles/addcoment")
}

    <div class="test">
        <section>
            @Html.Partial("ContentPartial")
        </section>
    </div>
    @if (Request.Cookies["Login"] != null)
    {
        <section>
            @{                
                Html.RenderPartial("AddCommentPartial");
            }
        </section>
    }
    <div>
         <div class="test" >
        <section id="update_container">   
            @{                
               Html.RenderPartial("ComentSPartial");
            }
            </section>
             </div>
    </div>
  



